@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: farray;
    src: url(../fonts/FARRAY.otf);
	font-weight: bold;
}
@font-face {
    font-family: metro;
    src: url(../fonts/Metropolis.otf);
	font-weight: bold;
}

h1, .navbar-brand {
    font-family: farray;
}

h2, h3 {
	font-family: metro;
}

